:root {
    --Primary1: #1B3C53;
    --Secondary: #1B3C53;
    --Text: 	#D2C1B6;
    --Text2: white;
}

* {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-padding: 60px;
}

#navbar {
    background-color: var(--Primary1);
    transition: 0.3s ease;
}

.hero {
    background-image: linear-gradient(rgba(1, 1, 1,0.8)), url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?q=80&w=1544&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 70vh;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#navbar a:hover {
    color: 	var(--Text);
}

#navbar i:hover {
    color: 	var(--Text);
}


#btnHero {
    background-color: var(--Text);
    transition: 0.3s ease;
}

#btnHero:hover {
    border: 1px solid;
    border-color: var(--Primary1);
}

.tentang {
    background-color: var(--Primary1);
    padding: 30px;
}
.services img {
    border-radius: 5px;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.tentang h2 {
    color: white;
    font-weight: bold;
}
.btn {
    background-color: var(--Text);
}

.btn:hover {
    border: 1px solid;
    border-color: var(--Primary1);
    background-color: var(--Text);
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: 0.3s ease;
}

.tentang p {
    color: white;
}

.reviews h6 {
    color: var(--Text);
}
#btnform {
    background-color: var(--Primary1);
    color: white;
}

#layanan {
    border-color: #1B3C53;
}

.footer img {
    padding: 5px;
    border-radius: 5px;
    width: 50px;
    background-color: white;
}

.footer {
    background-color: var(--Primary1);
    color: white;
}

input[type="text"], input[type="email"]{
    border-left: 4px solid var(--Primary1);
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    box-shadow: 0 0 0;
}

.error {
    color: 	#880808;
    font-size: 0.9rem;
    margin-top: 0.25rem;
}
#forumleft {
    background-color: var(--Primary1);
    color: white;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
}

#forumleft li {
    list-style: none;
}

#forumright {
    padding: 20px;
    background-color: var(--Text);
    border-radius: 0px 10px 10px 0px;
}

@media screen and (min-width:350px) and (max-width:1200px) {
    .hero {
        width: 100%;
        height: auto; 
        padding: 4rem 0; 
    }

    .hero img {
        margin-top: 2rem;
    }

    .tentang {
        margin-top: 3rem;
    }
}